<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crypto Toolbox</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="home-container">
    <h1>Cryptography Toolbox</h1>

    <a href="/ceaser" class="crypto-btn">Caesar Cipher</a>
    <a href="/mono" class="crypto-btn">Monoalphabetic Cipher</a>
    <a href="/eea" class="crypto-btn">Extended Euclidean Algorithm</a>
    <a href="/vigenere" class="crypto-btn">Vigenère Cipher</a>
    <a href="/railfence" class="crypto-btn">Rail Fence Cipher</a>
    <a href="/hill" class="crypto-btn">Hill Cipher</a>
</div>

</body>
</html>
