<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crypto Toolbox</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="home-container">
    <h1>Cryptography Toolbox</h1>

    <a href="/ceaser" class="crypto-btn">Caesar Cipher</a>
    <a href="/sha256" class="crypto-btn">SHA-256 Hashing</a>
    <a href="/ُEl-Gamal" class="crypto-btn">El-Gamal Encryption</a>
    <a href="/bcrypt" class="crypto-btn">bcrypt Password Hashing</a>
    <a href="/sha1" class="crypto-btn">SHA-1 Hashing</a>

    <a href="/mono" class="crypto-btn deactivated">Monoalphabetic Cipher</a>
    <a href="/eea" class="crypto-btn deactivated">Extended Euclidean Algorithm</a>
    <a href="/vigenere" class="crypto-btn deactivated">Vigenère Cipher</a>
    <a href="/railfence" class="crypto-btn deactivated">Rail Fence Cipher</a>
    <a href="/hill" class="crypto-btn deactivated">Hill Cipher</a>
</div>

</body>
</html>
